<h1>Nueva Vivienda</h1>
<div class="cartel">
  <div class="campos">
  <h2>Detalles de la Vivienda</h2>
  <mat-form-field class="field" appearance="fill" >
    <mat-label>titulo</mat-label>
    <input  matInput placeholder="titulo">
  </mat-form-field>

<div>
    <mat-form-field class="field" appearance="fill">
      <mat-label>latitud</mat-label>
      <input matInput placeholder="Nombre">
      
    </mat-form-field>

    <mat-form-field class="field" appearance="fill">
      <mat-label>longitud</mat-label>
      <input matInput placeholder="Nombre">
      
    </mat-form-field>
</div>
<div>
  <mat-form-field class="field" appearance="fill">
    <mat-label>direccion</mat-label>
    <input matInput placeholder="Nombre">
    
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>codigo postal</mat-label>
    <input matInput placeholder="Nombre">
    
  </mat-form-field>
</div>
<div>
  <mat-form-field class="field" appearance="fill">
    <mat-label>poblacion</mat-label>
    <input matInput placeholder="Nombre">
    
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>provincia</mat-label>
    <input matInput placeholder="Nombre">
    
  </mat-form-field>
</div>
</div>
<div class="imagen">
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
<div class="descripcion">
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
<div>
  <mat-form-field class="field" appearance="fill">
    <mat-label>precio minimo</mat-label>
    <input matInput placeholder="Nombre">
    
  </mat-form-field>

  <mat-form-field appearance="fill" class="right">
    <mat-label>numero de habitaciones</mat-label>
    <mat-select>
      <mat-option value="option">1</mat-option>
      <mat-option value="option">2</mat-option>
      <mat-option value="option">3</mat-option>
      <mat-option value="option">5</mat-option>
      <mat-option value="option">6</mat-option>
      <mat-option value="option">7</mat-option>
      <mat-option value="option">8</mat-option>
      <mat-option value="option">9</mat-option>
      <mat-option value="option">10</mat-option>
    </mat-select>
  </mat-form-field>
  
</div>
<div>
  <mat-form-field class="field" appearance="fill">
    <mat-label>precio maximo</mat-label>
    <input matInput placeholder="Nombre">
    
  </mat-form-field>

  <mat-form-field appearance="fill" class="right">
    <mat-label>numero de baños</mat-label>
    <mat-select>
      <mat-option value="option">1</mat-option>
      <mat-option value="option">2</mat-option>
      <mat-option value="option">3</mat-option>
      <mat-option value="option">4</mat-option>
    </mat-select>
  </mat-form-field>
    
</div>
<div class="radio">
  <div>
    <br>
  <mat-radio-group aria-label="piscina">
    <p>Piscina</p>
    <mat-radio-button value="1">si</mat-radio-button>
    <mat-radio-button value="2">no</mat-radio-button>
  </mat-radio-group>
  <br>
</div>
<div>
  <br>
  <mat-radio-group aria-label="ascensor">
    <p>ascensor</p>
    <mat-radio-button value="1">si</mat-radio-button>
    <mat-radio-button value="2">no</mat-radio-button>
  </mat-radio-group>
  <br>
</div>
<div>
  <br>
  <mat-radio-group aria-label="garaje">
    <p>Garaje</p>
    <mat-radio-button value="1">si</mat-radio-button>
    <mat-radio-button value="2">no</mat-radio-button>
  </mat-radio-group>
  <br>
</div>
</div>
</div>
<button mat-raised-button color="primary">vender</button>