
:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black;
    padding: 20px;
  }

  .cartel{
      background-color: #071620;
      color :white;
      
  }
  .campos{
      text-align: left;
      align-items: left;
      display: inline-block;
     
  }
  .imagen{
      text-align: right;
      align-items: right;
      display: inline-block;
  }

 .field{
    padding: 10px;
    
 }
 .input{
     background-color: #152836;
     color:white;
 }

 .boton{
  padding: 4px;
 }
 
 .right{
    margin-left: 90px;
 }
