<h1>Nuevo interesado </h1>
<div class="cartel">
  <h2>Detalles del Ineteresado</h2>
  <mat-form-field class="field" appearance="fill" >
    <mat-label>Nombre</mat-label>
    <input  matInput placeholder="nombre">
  </mat-form-field>

<div>
    <mat-form-field class="field" appearance="fill">
      <mat-label>email</mat-label>
      <input matInput placeholder="Nombre">
      
    </mat-form-field>

    <mat-form-field class="field" appearance="fill">
      <mat-label>telefono</mat-label>
      <input matInput placeholder="Nombre">
      
    </mat-form-field>
</div>

</div>

<button mat-raised-button color="primary">vender</button>
